{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %} IAN Demo {% endblock %}

{% block head_style %}

	{% stylesheets filter='cssrewrite,?yui_css'
	   '@IANUserBundle/Resources/public/bootstrap/css/bootstrap.min.css'
	   'http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
	   '@IANUserBundle/Resources/public/css/*'
	%}
	    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
		   media="screen" />
	{% endstylesheets %}

{% endblock %}


{% block head_script %}
    
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
        '@IANUserBundle/Resources/public/bootstrap/js/bootstrap.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
{% endblock head_script %}


{% block headline %}
	IAN Demo
{% endblock %}

{% block navbar %}

	{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'navbar-example' } %}

	    {% block brand %}
	        <a class="navbar-brand" href="{{ path('users') }}">Ian Demo</a>
	    {% endblock %}

	    {% block menu %}
	       
	    {% endblock %}
	{% endembed %}

{% endblock navbar %}



{% block footer %}
    <div class="container">
	<div class="row">
	    <div class="col-md-12">
		<a  href="{{ path('users') }}" class="text-default"> <em> &copy; IAN Demo </em> </a>
	    </div>
	</div>
    </div>
{% endblock %}