{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block headline %}
    Edit User Information
    
    <div class="dropdown pull-right">
	
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Action
	    <span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
	    
	    <li><a href="{{ path('users') }}"><i class="fa fa-list"> </i> List</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="{{ path('users_show', { 'id': entity.id }) }}"><i class="fa fa-eye"> </i> Show</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="{{ path('users_new') }}" > <i class="fa fa-plus-square"> </i> Add New</a></li>
	    
	</ul>
    </div>
	
{% endblock %}


{% block content %}
    {{ form(edit_form) }}

    {#
    <ul class="record_actions">
	<li>
	    <a href="{{ path('users') }}">
		Back to the list
	    </a>
	</li>
    <li>{{ form(delete_form) }}</li>
    #}
</ul>
{% endblock %}
