{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block headline %}
    Users list
    <a href="{{ path('users_new') }}" class="btn btn-primary pull-right">Add New</a>
{% endblock %}

{% block content %}
    
    <table class="records_list table table-bordered table-hover" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                {#<th>Password</th>#}
                {#<th>Id</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ (entity.gender is defined and entity.gender == 1 ) ? 'Male' : 'Female'  }} </td>
                <td>{{ entity.email }}</td>
                {#<td>{{ entity.password }}</td>#}
                {#<td>{{ entity.id }}</td>#}
                <td>
		    <div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Action
			    <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="{{ path('users_show', { 'id': entity.id }) }}"><i class="fa fa-eye"> </i> Show</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="{{ path('users_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> </i> Edit</a></li>
			</ul>
		    </div>
		    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
