{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block headline %}
    Users Registration
    
    <div class="dropdown pull-right">
	
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Action
	    <span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
	    
	    <li><a href="{{ path('users') }}"><i class="fa fa-list"> </i> List</a></li>
	</ul>
    </div>
	
{% endblock %}

{% block content %}
    {{ form(form) }}

    {#
    <ul class="record_actions">
	<li>
	    <a href="{{ path('users') }}">
		Back to the list
	    </a>
	</li>
    </ul>
    #}
{% endblock %}
