{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block headline %}
    Users list
    
    <div class="dropdown pull-right">
	
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Action
	    <span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
	    <li><a href="{{ path('users') }}"><i class="fa fa-list"> </i> List</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="{{ path('users_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> </i> Edit</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="{{ path('users_new') }}" > <i class="fa fa-plus-square"> </i> Add New</a></li>
	</ul>
    </div>
     
{% endblock %}

{% block content %}
    
    <table class="record_properties table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td> 
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ (entity.gender is defined and entity.gender == 1 ) ? 'Male' : 'Female'  }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            {#
	    <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
	    #}
        </tbody>
    </table>
    {#
    <div class="row">
	<div class="col-md-12">
	    {{ form(delete_form) }}
	</div>
    </div>
    #}
</ul>
{% endblock %}
