<div class="container">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
{% if form_errors(form.name) is not empty %}
    <div class="form-group has-error">
{% else %}
    <div class="form-group">
{% endif %}
        {{ form_label(form.name, "Name", {
            'label_attr': {
                'class': 'control-label col-xs-2 col-md-4'}})
        }}
        <div class="col-xs-8 col-md-4">
            {{ form_widget(form.name, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'John Doe'}})
            }}
            <span class="help-block">
                {{ form_errors(form.name) }}
            </span>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>
    
{% if form_errors(form.gender) is not empty %}
    <div class="form-group has-error">
{% else %}
    <div class="form-group">
{% endif %}
        {{ form_label(form.gender, "Gender", {
            'label_attr': {
                'class': 'control-label col-xs-2 col-md-4'}})
        }}
        <div class="col-xs-8 col-md-4">
            {{ form_widget(form.gender, {
                'attr': {
                    'class': 'form-control'}})
            }}
            <span class="help-block">
                {{ form_errors(form.gender) }}
            </span>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>
    
{% if form_errors(form.email) is not empty %}
    <div class="form-group has-error">
{% else %}
    <div class="form-group">
{% endif %}
        {{ form_label(form.email, "Email", {
            'label_attr': {
                'class': 'control-label col-xs-2 col-md-4'}})
        }}
        <div class="col-xs-8 col-md-4">
            {{ form_widget(form.email, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'me@you.com'}})
            }}
            <span class="help-block">
                {{ form_errors(form.email) }}
            </span>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>

{% if form_errors(form.password.p1) is not empty %}
    <div class="form-group has-error">
{% else %}
    <div class="form-group">
{% endif %}
        {{ form_label(form.password.p1, "Password", {
            'label_attr': {
                'class': 'control-label col-xs-2 col-md-4'}})
        }}
        <div class="col-xs-8 col-md-4">
            {{ form_widget(form.password.p1, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': '8 characters min'}})
            }}
            <span class="help-block">
                {{ form_errors(form.password.p1) }}
            </span>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>
{% if form_errors(form.password.p2) is not empty %}
    <div class="form-group has-error">
{% else %}
    <div class="form-group">
{% endif %}
        {{ form_label(form.password.p2, "Repeat password", {
            'label_attr': {
                'class': 'control-label col-xs-2 col-md-4'}})
        }}
        <div class="col-xs-8 col-md-4">
            {{ form_widget(form.password.p2, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': '8 characters min'}})
            }}
            <span class="help-block">
                {{ form_errors(form.password.p2) }}
            </span>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>
    
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    <div class="col-md-4"></div>
    {# Automatic generation of any remaining field (i.e. hidden fields) #}
    {{ form_rest(form) }}
  
    {{ form_end(form) }}
</div>